<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs'); %>
</head>
<body class="container">

<header>
    <%- include('./partials/header.ejs'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Home</h1>
        <p>Home page</p>
        You are log in as {{username}}
        <form name="logout_form" id="logout_form" method="get" action="/login/signout">
            <input type="hidden" name="perform_logout" value="1">
            <input type="submit" value="Logout" id="perform_logout_button">
            <a href="#" style="display:none;" id="logout_link">Logout</a>
        </form>

        <script type="text/javascript">
          // Assuming you're using jQuery...
          $('#perform_logout_button').hide();
          $('#logout_link').click(function() {
            document.logout_form.submit(); return false; }).show();
        </script>
    </div>
</main>

<footer>
    <%- include('./partials/footer.ejs'); %>
</footer>

</body>
</html>
